body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    background-color:white;
    text-align: center;
    font-size: larger;
}


button{
    padding: 5px 10px 5px 10px;
    background-color: aqua;
    border:none;
    border-radius: 5px;
    font-size: larger;
}
button:hover, button:focus {
    background-color: aquamarine;
    
}